.button {
  background: #58FBA0;
  padding: 7px 15px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  color: #212121;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.get-started {
  position: absolute;
  z-index: 10;
  height: 90px;
  width: 100%;
  top: -220px;
  transform: translate3d(0, 0, 0);
}

.get-started__container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 990;
}

.get-started .button {
  margin-top: -5px;
  position: relative;
  z-index: 100;
  animation: wiggle 5s infinite;
}

.get-started__button:hover .get-started__ripple--one {
  opacity: 0.7;
  transition-delay: 0ms;
}

.get-started__button:hover .get-started__ripple--two {
  opacity: 0.6;
  transition-delay: 30ms;
}

.get-started__button:hover .get-started__ripple--three {
  opacity: 0.5;
  transition-delay: 60ms;
}

.get-started__button:hover .get-started__ripple--four {
  opacity: 0.4;
  transition-delay: 90ms;
}

.get-started__button:hover .get-started__ripple--five {
  opacity: 0.3;
  transition-delay: 120ms;
}

.get-started__button:active .get-started__ripple--one {
  opacity: 0.3;
  transition-delay: 0ms;
}

.get-started__button:active .get-started__ripple--two {
  opacity: 0.4;
  transition-delay: 30ms;
}

.get-started__button:active .get-started__ripple--three {
  opacity: 0.5;
  transition-delay: 60ms;
}

.get-started__button:active .get-started__ripple--four {
  opacity: 0.6;
  transition-delay: 90ms;
}

.get-started__button:active .get-started__ripple--five {
  opacity: 0.7;
  transition-delay: 120ms;
}

.get-started .button:active {
  margin-top: 3px;
  box-shadow: none !important;
}

.get-started--fixed {
  z-index: 998;
}

.get-started--fixed .get-started__container {
  position: fixed;
  top: 0;
  overflow: hidden;
}

.get-started__ripples {
  pointer-events: none;
}

.get-started__ripples--black .get-started__ripple {
  background: rgba(0, 0, 0, 0.3);
}

.get-started__ripples--white .get-started__ripple {
  background: rgba(255, 255, 255, 0.1);
}

.get-started__ripple {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  z-index: 1;
  /*transition: opacity 0.1s linear;*/
}

.get-started__ripple--one {
  width: 100px;
  height: 100px;
  z-index: 60;
  opacity: 0.5;
  transition-delay: 120ms;
}

.get-started__ripple--two {
  width: 200px;
  height: 200px;
  z-index: 50;
  opacity: 0.4;
  transition-delay: 90ms;
}

.get-started__ripple--three {
  width: 300px;
  height: 300px;
  z-index: 40;
  opacity: 0.3;
  transition-delay: 60ms;
}
.get-started__ripple--four {
  width: 400px;
  height: 400px;
  z-index: 30;
  opacity: 0.2;
  transition-delay: 30ms;
}
.get-started__ripple--five {
  width: 500px;
  height: 500px;
  z-index: 20;
  opacity: 0.1;
}

.get-started__ripple-background {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  /*background: #20252C;*/
  z-index: 1;
  transition: opacity 0.1s linear;
}

.get-started__ripple-background--one {
  width: 100px;
  height: 100px;
  z-index: 55;
}

.get-started__ripple-background--two {
  width: 200px;
  height: 200px;
  z-index: 45;
}

.get-started__ripple-background--three {
  width: 300px;
  height: 300px;
  z-index: 35;
}
.get-started__ripple-background--four {
  width: 400px;
  height: 400px;
  z-index: 25;
}
.get-started__ripple-background--five {
  width: 500px;
  height: 500px;
  z-index: 15;
}

.about {
  position: relative;
  z-index: 2;
}


.about__line {
  position: absolute;
  left: 0;
  right: 0;
  top: -180px;
  height: 120px;
}

.about__line--white:before, .about__line--normal:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  content: ' ';
}

.about__line--white {
  transform: skew(0,-1.5deg);
  z-index: -1;
}

.about__line--normal {
  transform: skew(0,-3deg);
  z-index: 0;
}
.about__line--normal:before {
  background: #20232B;
}

.about__line--red {
  background: rgba(255,0,0, 0.2);
  transform: skew(0,1.5deg);
  z-index: -7;
}

.about__line--orange {
  background: rgba(223,165,26, 0.2);
  transform: skew(0,2.75deg);
  z-index: -6;
}

.about__line--yellow {
  background: rgba(253,255,0, 0.2);
  transform: skew(0,4deg);
  z-index: -5;
}

.about__line--green {
  background: rgba(0,218,60, 0.2);
  transform: skew(0,5.25deg);
  z-index: -3;
}

.about__line--blue {
  background: rgba(0,0,231, 0.2);
  transform: skew(0,6.5deg);
  z-index: -2;
}

.about__line--purple {
  background: rgba(170,0,255, 0.2);
  transform: skew(0,7.75deg);
  z-index: -2;
}

.about:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -180px;
  height: 500px;
  background: #20232B;
  transform: skew(0,9deg);
  z-index: -1;
}

.about__list {
  display: flex;
  justify-content: space-around;
}

.about__item {
  flex-grow: 1;
  flex-basis: 0;
  color: #fff;
  padding: 0 2em;
  position: relative;
}

.about__item:first-child {
  top: -100px;
}

.about__item:last-child {
  top: 100px;
}

.about__item h4 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  font-weight: 300;
}

.about__item p {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 28px;
}

.about__item p + p {
  margin-top: 40px;
}

.about__item:first-child p {
  padding-left: 0;
}

.about__item:last-child p {
  padding-right: 0;
}

.about__item p sup {
  position: relative;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 18px;
  color: #fff;
}

.about p.about__clarification {
  margin-top: 26px;
  color: rgba(255, 255, 255, 0.2);
}

.about__icon {
  text-align: center;
  font-size: 72px;
  line-height: 1;
  color: #fff;
  margin-bottom: 60px;
}

.features {
  background: #fff;
  background: linear-gradient(to bottom, #D8D9DC, #FBFCFF, #FBFCFF);
  position: relative;
  padding: 300px 150px 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  z-index: 1;
}

.features:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -330px;
  height: 500px;
  background: #20232B;
  transform: skew(0,9deg);
  z-index: -1;
}

.features:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -160px;
  height: 360px;
  background: #FBFCFF;
  transform: skew(0,9deg);
  z-index: -1;
}

.features .console {
  box-shadow: 0 20px 48px rgba(0,0,0,0.6);
  width: 520px;
}

.features .console pre {
  font-size: 14px;
  line-height: 16px;
}

.feature {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 100px;
}

.feature__description {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 70px;
}

.feature__description h4 {
  font-size: 32px;
  margin: 20px 0;
  font-weight: 300;
}

.feature__main {
  flex-grow: 0;
  flex-basis: 0;
}

.logo {

}

.logo svg {
  height: 100%;
}

.logo .top { fill:#BBFFFE; }
.logo .left-top { fill:#5BF6FA; }
.logo .left-middle { fill:#53FFFE; }
.logo .left-bottom { fill:#49D9FD; }
.logo .right-top { fill:#3AD772; }
.logo .right-middle { fill:#4EFD9D; }
.logo .right-bottom { fill:#36C473; }
.logo .st1 { fill:#fff; }

.logo-only .top { fill: rgba(255, 255, 255, 0.6); }
.logo-only .left-top { fill: rgba(255, 255, 255, 0.55); }
.logo-only .right-top { fill: rgba(255, 255, 255, 0.5); }
.logo-only .left-middle { fill: rgba(255, 255, 255, 0.45); }
.logo-only .right-middle { fill: rgba(255, 255, 255, 0.40); }
.logo-only .left-bottom { fill: rgba(255, 255, 255, 0.35); }
.logo-only .right-bottom { fill: rgba(255, 255, 255, 0.3); }

p a {
  color: #20252C;
  font-weight: 700;
}

.footer {
  background: url(../img/trees.jpeg);
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.footer__background {
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
}

.footer__container {
  padding: 340px 100px 60px;
  display: flex;
}

.footer__link {
  display: block;
  flex-grow: 1;
  flex-basis: 0;
}

.footer a {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__links {
  flex-grow: 1;
  padding-right: 100px;
}

.footer__links a {
  display: block;
}

.footer__links .footer__link-header {
  display: block;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  margin-bottom: 40px;
}

.footer__author {
  text-align: center;
  padding: 10px 0;
}

.footer .logo-only {
  width: 95px;
  height: 82px;
  margin-bottom: 20px;
  position: relative;
  z-index: 120;
}

.footer__link--right {
  text-align: right;
}

@keyframes bounce {
  50%, 60%, 75%, 90%, 100% {
    -moz-transform: translate3d(-50%, 0, 0) rotate(90deg);
    -ms-transform: translate3d(-50%, 0, 0) rotate(90deg);
    transform: translate3d(-50%, 0, 0) rotate(90deg);
  }
  70% {
    -moz-transform: translate3d(-50%, -20px, 0) rotate(90deg);
    -ms-transform: translate3d(-50%, -20px, 0) rotate(90deg);
    transform: translate3d(-50%, -20px, 0) rotate(90deg);
  }
  80% {
    -moz-transform: translate3d(-50%, -15px, 0) rotate(90deg);
    -ms-transform: translate3d(-50%, -15px, 0) rotate(90deg);
    transform: translate3d(-50%, -15px, 0) rotate(90deg);
  }
}
